* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto" sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 8px;
}
h2 {
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 8px;
}
h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 8px;
}
h4 {
    color: #ffffff;
    font-size: 18px;
    margin: 0px 0px 8px;
}

.card {
    width: 45px;
    margin: 0;
    margin-top: 10px;

    box-shadow: 0 2px 2px rgb(#919294, #464646, #212529);
    border-radius: 4px;
    overflow: scroll;
}


.itlte {
    color: #919294;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.description {
    color: #464646;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 400;
}

.rating {
    color: #212529;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 400;
}












