* {
    box-xi
}


h1 {
    border-width: 5px;
    border-style: solid;
    border-color: black;*/

    border: 5px solid black;

    /* Padding 4 chiều */
    /* padding: 20px; */

    /* 10px : top, bottom , 20px : left-right */
    /* padding: 10px 20px; */

    /* 10 : top, 20 : left-right, 30: bottom */
    /* padding: 10px 20px 30px; */

    /* padding: 10px 20px 30px 40px; */

     margin-botton: 100px;


.box {
    width: 400px;
    height: 200px;
    background-color: black;

    padding: 0px 20px;
    border: 10px solid red

}

}